<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{https://fonts.xz.style/serve/inter.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/super-duper-styles.css}">
        <script src="/js/bootstrap.min.js"></script>

        <title>Super Duper Drive - Home</title>
    </head>
    <body>

        <header>
            <h1>Super Duper Drive - Home</h1>
            <nav><a href="/logout">Logout</a></nav>
        </header>

        <h1>Home</h1>
        <div>

            <div id="contentDiv" style="clear: right;">
                <div class="tab-content" id="nav-tabContent">
                    <h2>Files</h2>
                    <details>
                        <summary>Manage Files</summary>
                        <div id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form action="#" enctype="multipart/form-data" method="POST">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a target="_blank" class="btn btn-success">View</a>
                                        <a  class="btn btn-danger">Delete</a>
                                    </td>
                                    <th scope="row">ExampleFile.txt</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </details>
                    <h2>Notes</h2>
                    <details>
                        <summary>Manage Notes</summary>
                        <div id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                            <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showNoteModal()">
                                + Add a New Note
                            </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-success">Edit</button>
                                            <a class="btn btn-danger">Delete</a>
                                        </td>
                                        <th scope="row">Example Note Title</th>
                                        <td>Example Note Description </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="POST">
                                            <input type="hidden" name="noteId" id="note-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name= "noteTitle" class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="noteDescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </details>
                    <h3>Credentials</h3>
                    <details id="credSection" th:open="${toggleCredentials}">
                        <summary>Manage Credentials</summary>
                        <div class="my-notify-success" th:if="${credSuccess}">
                            <span th:text="${credSuccess}"></span>
                        </div>
                        <div class="my-notify-error" th:if="${credError}">
                            <span th:text="${credError}"</span>
                        </div>
                        <div id="nav-credentials" class="pure-controls" role="section" aria-labelledby="nav-credentials-section">
                                <a href="#">
                                    <button id="addCredential" type="button" class="pure-button" data-toggle="modal" data-target="#credentialModal" th:data-credAction="Add" onclick="showCredModal(this.getAttribute('data-credAction'))">
                                        + Add a New Credential
                                    </button>
                                </a>

                            <div class="no-credentials" th:unless="${showCredentials}">
                                <p>No Credentials have been added to the system.</p>
                            </div>

                            <div>
                                <table th:object="${credentials}" id="credentialTable" th:if="${showCredentials}">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%" scope="col"></th>
                                            <th style="width: 35%" scope="col">URL</th>
                                            <th style="width: 20%" scope="col">Username</th>
                                            <th style="width: 25%" scope="col">Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cred : ${credentials}">
                                        <td>
                                                <a href="#">
                                                    <button th:class="${'credEdit' + cred.credentialId}" id="editCredential" type="button" class="pure-button" data-toggle="modal" data-target="#credentialModal"
                                                     th:data-credAction="Edit" th:data-credId="${cred.credentialId}" th:data-credUrl="${cred.url}" th:data-credUsername="${cred.username}" th:data-credPassword="${cred.password}"
                                                            onclick="showCredModal(this.getAttribute('data-credAction'), this.getAttribute('data-credId'), this.getAttribute('data-credUrl'), this.getAttribute('data-credUsername'), this.getAttribute('data-credPassword'))">Edit</button>
                                                </a>
                                                <a th:href="@{/home/{id}(id=${cred.credentialId},action='deleteCredential')}">
                                                    <button th:class="${'credDelete' + cred.credentialId}" id="deleteCredential" type="button" class="pure-button">Delete</button>
                                                </a>
                                        </td>
                                            <th th:class="${'credViewUrl' + cred.credentialId}" scope="row" th:text="${{cred.url}}">Example Credential URL</th>
                                            <td th:class="${'credViewUsername' + cred.credentialId}" th:text="${{cred.username}}">Example Credential Username</td>
                                            <td th:class="${'credViewPassword' + cred.credentialId}" th:text="${{cred.password}}">Example Credential Password</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="credentialModalLabel">Credential</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="pure-form pure-form-aligned" action="#" th:action="@{/home}" th:object="${credentialsForm}" method="POST">
                                                <input type="hidden" name="credentialId" id="credential-id">
                                                <input type="hidden" name="credActionType" id="cred-action-type">
                                                <fieldset class="pure-control-group">
                                                    <p>
                                                        <label for="note-title" class="col-form-label">URL</label>
                                                        <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required th:field="*{url}" th:value="*{url}">
                                                    </p>
                                                    <p>
                                                        <label for="note-title" class="col-form-label">Username</label>
                                                        <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required th:field="*{username}" th:value="*{username}">
                                                    </p>
                                                    <p>
                                                        <label for="note-title" class="col-form-label">Password</label>
                                                        <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required th:field="*{password}" th:value="*{password}">
                                                    </p>
                                                </fieldset>
                                                <div class="pure-controls">
                                                    <a href="#">
                                                        <button class="pure-button pure-button-primary" type="submit" th:text="${credActionType}">Save</button>
                                                    </a>
                                                </div>
                                            </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="pure-controls">
                                            <a href="#">
                                                <button type="button" class="pure-button" data-dismiss="modal">Close</button>
                                            </a>
                                        </div>
                                        <!-- <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </details>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js" ></script>

        <!--For opening the note modal-->

        <script th:inline="javascript" type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');

            }

            // For opening the credentials modal
            function showCredModal(credAction, credentialId, url, username, password) {
                $('#cred-action-type').val(credAction ? credAction : 'Add');
                $('#credential-id').val(credentialId ? credentialId : 0);
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                //$('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>