<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{https://fonts.xz.style/serve/inter.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/super-duper-styles.css}">
        <script src="/js/bootstrap.min.js"></script>

        <title>Super Duper Drive - Home</title>
    </head>
    <body>

        <header>
            <h1>Super Duper Drive - Home</h1>
            <nav><a href="/logout">Logout</a></nav>
        </header>

        <h1>Home</h1>
        <div>

            <div id="contentDiv" style="clear: right;">
                <div class="tab-content" id="nav-tabContent">
                    <h2>Files</h2>
                    <details id="fileSection" th:open="${toggleFiles}">
                        <summary>Manage Files</summary>
                        <div class="file-notify-success my-notify-success" th:if="${fileSuccess}">
                            <span th:text="${fileSuccess}"></span>
                        </div>
                        <div class="file-notify-error my-notify-error" th:if="${fileError}">
                            <span th:text="${fileError}"</span>
                        </div>
                        <div id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form action="#" enctype="multipart/form-data" method="POST" th:action="@{/home/file}" th:object="${fileForm}">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="pure-controls">
                                        <a href="#">
                                            <button class="pure-button pure-button-primary" type="submit">Upload</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="no-files" th:unless="${showFiles}">
                            <p>No Files have been added to the system.</p>
                        </div>
                        <div class="table-responsive">
                            <table th:object="${files}" id="fileTable" th:if="${showFiles}">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a th:href="#">
                                            <button th:class="${'fileView' + file.fileId}" id="viewFile" type="button" class="pure-button">View</button>
                                        </a>
                                        <a th:href="@{/home/file/{id}(id=${file.fileId})}">
                                            <button th:class="${'fileDelete' + file.fileId}" id="deleteFile" type="button" class="pure-button">Delete</button>
                                        </a>
                                    </td>
                                    <th th:class="${'fileViewName' + file.fileId}" scope="row" th:text="${{file.fileName}}">ExampleFile.txt</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </details>
                    <h2>Notes</h2>
                    <details  id="noteSection" th:open="${toggleNotes}">
                        <summary>Manage Notes</summary>
                        <div class="note-notify-success my-notify-success" th:if="${noteSuccess}">
                            <span th:text="${noteSuccess}"></span>
                        </div>
                        <div class="note-notify-error my-notify-error" th:if="${noteError}">
                            <span th:text="${noteError}"</span>
                        </div>
                        <div id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                            <a href="#">
                                <button id="addNote" type="button" class="pure-button" data-toggle="modal" data-target="#noteModal" th:data-noteAction="Add" onclick="showNoteModal(this.getAttribute('data-noteAction'))">
                                    + Add a New Note
                                </button>
                            </a>

                            <div class="no-notes" th:unless="${showNotes}">
                                <p>No Notes have been added to the system.</p>
                            </div>

                        <div>
                            <table th:object="${notes}" id="noteTable" th:if="${showNotes}">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="note : ${notes}">
                                    <td>
                                        <a href="#">
                                            <button th:class="${'noteEdit' + note.noteId}" id="editNote" type="button" class="pure-button" data-toggle="modal" data-target="#noteModal"
                                                    th:data-noteAction="Edit" th:data-noteId="${note.noteId}" th:data-noteTitle="${note.noteTitle}" th:data-noteDescription="${note.noteDescription}"
                                                    onclick="showNoteModal(this.getAttribute('data-noteAction'), this.getAttribute('data-noteId'), this.getAttribute('data-noteTitle'), this.getAttribute('data-noteDescription'))">Edit</button>
                                        </a>
                                        <a th:href="@{/home/note/{id}(id=${note.noteId})}">
                                            <button th:class="${'noteDelete' + note.noteId}" id="deleteNote" type="button" class="pure-button">Delete</button>
                                        </a>
                                    </td>
                                    <th th:class="${'noteViewTitle' + note.noteId}" scope="row" th:text="${{note.noteTitle}}">Example Note Title</th>
                                    <td th:class="${'noteViewDescription' + note.noteId}" th:text="${{note.noteDescription}}">Example Note Description</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="noteModalLabel">Note</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:action="@{/home/note}" th:object="${notesForm}" method="POST">
                                            <input type="hidden" name="noteId" id="note-id">
                                            <input type="hidden" name="noteActionType" id="note-action-type">
                                            <fieldset class="pure-control-group">
                                                <p>
                                                    <label for="note-title" class="col-form-label">Title</label>
                                                    <input type="text" name= "noteTitle" class="form-control" id="note-title" maxlength="20" required th:field="*{title}" th:value="*{title}">
                                                </p>
                                                <p>
                                                    <label for="note-description" class="col-form-label">Description</label>
                                                    <textarea class="form-control" name="noteDescription" id="note-description" rows="5" maxlength="1000" required th:field="*{description}" th:value="*{description}"></textarea>
                                                </p>
                                            </fieldset>
                                            <div class="pure-controls">
                                                <a href="#">
                                                    <button class="pure-button pure-button-primary" type="submit" th:text="${noteActionType}">Save</button>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="pure-controls">
                                            <a href="#">
                                                <button type="button" class="pure-button" data-dismiss="modal">Close</button>
                                            </a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </details>
                    <h3>Credentials</h3>
                    <details id="credSection" th:open="${toggleCredentials}">
                        <summary>Manage Credentials</summary>
                        <div class="cred-notify-success my-notify-success" th:if="${credSuccess}">
                            <span th:text="${credSuccess}"></span>
                        </div>
                        <div class="cred-notify-error my-notify-error" th:if="${credError}">
                            <span th:text="${credError}"</span>
                        </div>
                        <div id="nav-credentials" class="pure-controls" role="section" aria-labelledby="nav-credentials-section">
                                <a href="#">
                                    <button id="addCredential" type="button" class="pure-button" data-toggle="modal" data-target="#credentialModal" th:data-credAction="Add" onclick="showCredModal(this.getAttribute('data-credAction'))">
                                        + Add a New Credential
                                    </button>
                                </a>

                            <div class="no-credentials" th:unless="${showCredentials}">
                                <p>No Credentials have been added to the system.</p>
                            </div>

                            <div>
                                <table th:object="${credentials}" id="credentialTable" th:if="${showCredentials}">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%" scope="col"></th>
                                            <th style="width: 35%" scope="col">URL</th>
                                            <th style="width: 20%" scope="col">Username</th>
                                            <th style="width: 25%" scope="col">Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cred : ${credentials}">
                                        <td>
                                                <a href="#">
                                                    <button th:class="${'credEdit' + cred.credentialId}" id="editCredential" type="button" class="pure-button" data-toggle="modal" data-target="#credentialModal"
                                                     th:data-credAction="Edit" th:data-credId="${cred.credentialId}" th:data-credUrl="${cred.url}" th:data-credUsername="${cred.username}" th:data-credPassword="${cred.password}"
                                                            onclick="showCredModal(this.getAttribute('data-credAction'), this.getAttribute('data-credId'), this.getAttribute('data-credUrl'), this.getAttribute('data-credUsername'), this.getAttribute('data-credPassword'))">Edit</button>
                                                </a>
                                                <a th:href="@{/home/credential/{id}(id=${cred.credentialId})}">
                                                    <button th:class="${'credDelete' + cred.credentialId}" id="deleteCredential" type="button" class="pure-button">Delete</button>
                                                </a>
                                        </td>
                                            <th th:class="${'credViewUrl' + cred.credentialId}" scope="row" th:text="${{cred.url}}">Example Credential URL</th>
                                            <td th:class="${'credViewUsername' + cred.credentialId}" th:text="${{cred.username}}">Example Credential Username</td>
                                            <td th:class="${'credViewPassword' + cred.credentialId}" th:text="${{cred.password}}">Example Credential Password</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="credentialModalLabel">Credential</h2>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="pure-form pure-form-aligned" action="#" th:action="@{/home/credential}" th:object="${credentialsForm}" method="POST">
                                                <input type="hidden" name="credentialId" id="credential-id">
                                                <input type="hidden" name="credActionType" id="cred-action-type">
                                                <fieldset class="pure-control-group">
                                                    <p>
                                                        <label for="note-title" class="col-form-label">URL</label>
                                                        <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required th:field="*{url}" th:value="*{url}">
                                                    </p>
                                                    <p>
                                                        <label for="note-title" class="col-form-label">Username</label>
                                                        <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required th:field="*{username}" th:value="*{username}">
                                                    </p>
                                                    <p>
                                                        <label for="note-title" class="col-form-label">Password</label>
                                                        <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required th:field="*{password}" th:value="*{password}">
                                                    </p>
                                                </fieldset>
                                                <div class="pure-controls">
                                                    <a href="#">
                                                        <button class="pure-button pure-button-primary" type="submit" th:text="${credActionType}">Save</button>
                                                    </a>
                                                </div>
                                            </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="pure-controls">
                                            <a href="#">
                                                <button type="button" class="pure-button" data-dismiss="modal">Close</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </details>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js" ></script>

        <!--For opening the note modal-->

        <script th:inline="javascript" type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteAction, noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-action-type').val(noteAction ? noteAction : 'Add');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');

            }

            // For opening the credentials modal
            function showCredModal(credAction, credentialId, url, username, password) {
                $('#cred-action-type').val(credAction ? credAction : 'Add');
                $('#credential-id').val(credentialId ? credentialId : 0);
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
            }
        </script>
    </body>
</html>