<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{https://fonts.xz.style/serve/inter.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/super-duper-styles.css}">

        <title>Super Duper Drive - Login</title>
    </head>
    <body>

        <header>
            <h1>Super Duper Drive - Login</h1>
            <nav><a href="/signup">Sign Up for an Account</a></nav>
        </header>
        <div>
            <h1>Login</h1>
            <blockquote>
            <form action="#" th:action="@{/login}" th:object="${loginForm}" method="POST">
                <div class="my-notify-success" th:unless="${firstVisit || param.error}">
                    Welcome, <span th:text="${username}"></span>! Please continue to your <a href="/home">home</a> page.
                </div>
                <div class="my-notify-error" th:if="${param.error}">
                    There is an issue with your username or password.  Please try again!
                </div>
                <div class="my-notify-info" th:if="${logout}">
                    <span>You are currently logged out.</span>
                </div>
                <div class = "login-fields" th:if="${logout}">
                    <p><div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="input" class="form-control" name="username" id="inputUsername" placeholder="Enter Username" maxlength="20" required th:field="*{username}">
                    </div></p>
                    <p><div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Enter Password" maxlength="20" required th:field="*{password}">
                    </div></p>
                    <a href="#">
                        <button type="submit">Login</button>
                    </a>
                </div>
            </form>
            </blockquote>
            <div>
                <label><a href="/signup">Don't have an account?  Sign up here!</a></label>
            </div>
        </div>
    </body>
</html>