<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{https://fonts.xz.style/serve/inter.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/super-duper-styles.css}">



        <title>Super Duper Drive - Sign Up</title>
    </head>
    <body>
            <header>
                <h1>Super Duper Drive - Sign Up</h1>
                <nav><a href="/login">Back to Login</a></nav>
            </header>

            <blockquote>
                <p>Fill out the form completely to sign up for a new account.</p>
            <form action="#" th:action="@{/signup}" th:object="${signUpForm}" method="POST">
                <div class="my-notify-success" th:unless="${firstVisit || errorCode > 0}">
                    Welcome, <span th:text="${firstName}"></span>! Please continue to the <a href="/login">login</a> page.
                </div>
                <div class="my-notify-error" th:if="${errorCode > 0}">
                    <span th:text="${errorMessage}"</span>
                </div>
                <div class="form-row">
                    <p>
                        <label for="inputFirstName">First Name</label>
                        <input type="input" name="firstName" class="form-control" id="inputFirstName" placeholder="Enter First Name" maxlength="20" required th:field="*{firstName}">
                    </p>
                    <p>
                        <label for="inputLastName">Last Name</label>
                        <input type="input" name="lastName" class="form-control" id="inputLastName" placeholder="Enter Last Name" maxlength="20" required th:field="*{lastName}">
                    </p>
                </div>
                <p class="form-row">
                    <p>
                        <label for="inputUsername">Username</label>
                        <input type="input" name="username" class="form-control" id="inputUsername" placeholder="Enter Username" maxlength="20" required th:field="*{username}">
                    </p>
                    <p>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter Password" maxlength="20" required th:field="*{password}">
                    </p>
                </div>
                <a href="#">
                    <button type="submit">Sign Up</button>
                </a>
            </form>
            </blockquote>
        </div>

    </body>
</html>